.primary {
  background-color: rgb(214, 231, 35);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(54, 161, 104);
  border-radius: 999px;
  padding: 12px 24px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 92%;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: all 0.2s ease-in-out 0s;
  background-position: center center;
  user-select: none;
}
